@import 'master';

.editprofView {
  padding-bottom: 60px;
}

.editProfileContainer {
  background-color: white;
  display: flex;
  width: 73vw;
  margin: 60px auto 0;
  border: 1px solid #dbdbdb;
  margin-left: auto;
  margin-right: auto;
  max-width: 935px;
  height: 550px;
}

.editProfileLinks {
  border-right: 1px solid #dbdbdb;
  width: 225px;
}

.editProfileContents {
  width: calc(100% - 200px);
}

.formItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;
  align-items: center;
  padding-right: 100px;
  input {
    width: 385px;
    flex: 0 1 385px;
    font-size: 16px;
  }
}

.formPassItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;
  align-items: center;
  padding-right: 175px;
  input {
    // width: 385px;
    flex: 0 1 385px;
    font-size: 16px;
  }
}

.passInput {
flex: 0 1 300px !important;
}

.formItemBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 100px;
  padding-right: 125px;
  width: 100%;
}

.formItemPassBtn {
  text-align: center;
  margin-bottom: 16px;
  padding-right: 110px;
  padding-top: 20px;
}


.formItemGender {

  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  // justify-content: center;
  align-items: center;
}



.genderTitle {
  padding-right: 35px;
  width: 30%;
  text-align: right;
}


.formName {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

.formPassName {
  width: 30%;
  text-align: right;

}

.editForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 32px;
  justify-content: space-between;


}

.ulEditProfile {
  border-left: 2px solid black;
  font-weight: bold;
}


.profilePic {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 0 30px 0 150px;
}

// .username {
//   align-items: center;
//   display: flex;
//   flex-direction: row;
//   font-size: 24px;
//   margin-top: 30px;
// }

.oldPassword {
  padding-top: 15px;
}

.usernamePass {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bioInput {
  padding: 6px 10px;
  resize: vertical;
}

.ulLink {
  padding: 16px 52px 16px 30px;
}

.privateInfo {
  color: #999;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  padding-right: 150px;
  margin-top: 35px;
  width: 100%;
}

.submitBtn {
  font-size: 16px;
  cursor: pointer;
  background: 0 0;
  border-color: #3897f0;
  border-width: 1px;
  color: #3897f0;
  border-radius: 3px;
  border-style: solid;
  padding: 0 11px;
  line-height: 29px;
  font-weight: 600;
}


.genderDrop {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 16px;
  height: 32px;
  color: #999;
  padding: 0 30px 0 10px;
}


.disableAcc {
  color: #3897f0;
  font-size: 13px;
  letter-spacing: .5px;
  margin-left: 105px;
}

@media(max-width:1100px){
  .disableAcc {
    margin-left: 30px;
  }
}

@media(max-width:1220px) {
  .formPassItem {
    padding-right: 50px;
  }
  .formItemPassBtn {
    text-align: center;
    margin-bottom: 16px;
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 20px;
  }
    .disableAcc {
      margin-left: 30px;
    }
}

@media(max-width:1100px) {
  .formPassItem {
    padding-right: 0px;
  }
  .editProfileContainer {
    width: 90%;
  }
  .formItemPassBtn {
    padding-left: 100px;
  }
  .formItemBtn {
    padding-right: 0px;
  }
}

@media(max-width:800px) {
    .editProfileLinks {
      display: none;
    }
    .editProfileContainer {
      width: 100%;
      height: 700px;
    }
    .formPassItem {
      display: inline-block;
      padding-left: 20px;
    }
    .formItem {
      display: inline-block;
      padding-left: 20px;
    }
    .formPassName {
      text-align: left;
      padding-bottom: 15px;
      width: 100%;
    }
    .formName {
      text-align: left;
      padding-bottom: 15px;
      width: 100%;
    }
    .formItemPassBtn {
      text-align: left;
      width: 100%;
      padding-left: 0px;
      margin-left: 20px;
    }
    .profilePic {
      margin: 0 20px 0 20px;
    }
    .privateInfo {
      width: 100%;
    }
    .editProfileContents {
      width: 100%;
    }
    .formItemGender {
      align-items: center;
      flex-direction: column;
      display: inline-block;
    }
    .genderTitle {
      text-align: left;
      padding-left: 20px;
      width: 100%;
    }
    .genderHolder {
      padding-left: 20px;
      padding-top: 10px;
      display: inline-block;
    }
    .formItemBtn {
      padding-left: 20px;
      padding-right: 0;
      display: inline-block;
    }
    .disableAcc {
      text-align: right;
    }
    .submitBtnPass {
      // margin-left: -75px;
    }


}
