@import 'master';

header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid $grey;
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    text-align: right;
    padding: 26px 40px;
    .desktopNotifs{
        display:none;
    }
    .mobileNotifs{
        display:inline;
    }
    .search {
        display: none;
    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 77px;
        position: relative;
        top: 0;
        right: 0;
        width: 35vw;
        justify-content: space-between;
        max-width: 130px;

        .plus{
            height:18px;
            margin-right:2px;
            width:18px;
        }
    }

    .spriteLogo {
        background-image: url($spriteUrl);
        background-size: 352px 311px;
        background-position: -176px 0;
        height: 35px;
        width: 176px;
        transform: scale(.8);
        margin-left: -18px;
    }

    .spriteDiscover {
        background-image: url($spriteUrl);
        background-position: -326px -224px;
        background-size: 352px 311px;
        height: 24px;
        width: 24px;
    }

    .spriteNotifs {
        background-image: url($spriteUrl);
        background-position: -176px -224px;
        background-size: 352px 311px;
        height: 24px;
        width: 24px;
    }

    .spriteProfile {
        background-image: url($spriteUrl);
        background-position: -26px -224px;
        background-size: 352px 311px;
        height: 24px;
        width: 24px;
    }

    .spriteSearch {
        background-image: url($spriteUrl);
        background-position: -228px -112px;
        background-size: 352px 311px;
        position: absolute;
        top: 9px;
        left: 11px;
        height: 10px;
        height: 10px;
    }
}
.notifications{
    min-height: 100px;
    max-height: 362px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: block;
    z-index: 11;
    width: 425%;
    white-space: normal;
    position: absolute;
    top: 65px;
    margin-left: -470px;
}
    .triangle{
        border-color: transparent transparent #fff;
        border-style: solid;
        border-width: 0 10px 10px;
        height: 0;
        position: absolute;
        top: 56px;
        left: 72px;
        width: 0;
        z-index: 12;
    }
.notificationCard{
    margin: 12px;
    padding-bottom: 12px;
    position: relative;
    border-bottom: 1px solid #efefef;
    font-size:14px;
    max-width:100%;
    a{
        color:$black;
    }
    a:active{
        color:$blackActive;
    }
    img{
        width: 34px;
        height: 34px;
        border-radius: 50px;
        margin-right: 7px;
    }
    img:active{
        opacity: .5;
    }
    span{
        padding-right: 5px;
        font-weight: 900;
        position: relative;
        top: -11px;
    }
    p{
        padding-right: 5px;
    }
    p #notifText{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .postImg{
        border-radius: inherit;
        width: 55px;
        height: auto;
    }
}
    #lineNoti{
        display: inherit;
    }
    .notiTime{
        font-weight: bold;
        font-family: sans-serif;
        color: #9F9999;
    }

@media(min-width:600px) {
    header{
        margin-bottom:60px;
    }
    .nav {
        .spriteLogo {
            margin-left: 0;
        }
        max-width: 1010px;
        .desktopNotifs{
            display:inline;
        }
        .mobileNotifs{
            display:none;
        }
        .search {
            display: inline;
            height: 28px;
            width: 215px;
            min-width: 125px;
            margin-left: -40px;

            .searchField {
                height: 100%;
                width: 100%;
                border-radius: 3px;
                color: $black;
                border: 1px solid $grey;
            }
        }
    }
}
@media(min-width:770px) {
    .nav {
        .spriteLogo {
            transform: scale(1);
        }
    }
}
