@import 'master';
.profileInfoContainer {
    margin-right: 280px;
    // text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
    // margin-bottom: 20px;
    // border-radius: 3px;
  }
  .profileInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    margin-right: 435px;
    font-weight: lighter;

  }

  .profilePhoto {
    border-radius: 100%;
    height: 150px;
    width: 150px;


  }
  .profilePhotoBox{
    float: left;
    display: flex;
    justify-content: flex-end;
    margin-left: 500px;
    // margin-right: 80px;
  }

  .profile-username {
    font-size: 34px;
    text-align: left;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    line-height: 40px;
    margin-bottom: 20px;


  }
  .counters {

    font-size: 17px;
    margin-bottom: 20px;

  }
  .counters li {
    display: inline-block;
    margin-right: 40px;
  }
  .bold-profile {
    font-weight: bold;
  }
@media(max-width:735px) {
    .profilePhoto{
      transform: scale(.6);
    }
    .profile-username {
      font-size: 21px;
    }

}
